USE [master]
GO
/****** Object:  Database [BTnhom]    Script Date: 11/10/2019 7:44:34 PM ******/
CREATE DATABASE [BTnhom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTnhom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BTnhom.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BTnhom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BTnhom_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTnhom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTnhom]
GO
/****** Object:  User [Duong_user]    Script Date: 11/10/2019 7:44:35 PM ******/
CREATE USER [Duong_user] FOR LOGIN [Duong] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Duong_user]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 11/10/2019 7:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MaHD] [char](8) NOT NULL,
	[MaHang] [char](12) NOT NULL,
	[SLBan] [numeric](18, 0) NOT NULL,
	[Dongia] [numeric](18, 0) NOT NULL,
	[Thanhtien] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 11/10/2019 7:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MaHang] [char](12) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[Dongia] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/10/2019 7:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](8) NOT NULL,
	[MaKH] [varchar](15) NOT NULL,
	[Ngayban] [date] NOT NULL,
	[thoigian] [time](7) NULL,
	[Quay] [numeric](18, 0) NOT NULL,
	[Tongtienthanhtoan] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/10/2019 7:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](15) NOT NULL,
	[Sokhach] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHD] ([MaHD], [MaHang], [SLBan], [Dongia], [Thanhtien]) VALUES (N'11113431', N'893456102003', CAST(1 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)))
INSERT [dbo].[CHITIETHD] ([MaHD], [MaHang], [SLBan], [Dongia], [Thanhtien]) VALUES (N'11113431', N'893456834124', CAST(1 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)))
INSERT [dbo].[CHITIETHD] ([MaHD], [MaHang], [SLBan], [Dongia], [Thanhtien]) VALUES (N'11113432', N'893456102003', CAST(1 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)))
INSERT [dbo].[HANG] ([MaHang], [TenHang], [Dongia]) VALUES (N'893445862342', N'Xúc xích vị bò', CAST(25000 AS Numeric(18, 0)))
INSERT [dbo].[HANG] ([MaHang], [TenHang], [Dongia]) VALUES (N'893456102003', N'Gỏi tôm sống', CAST(80000 AS Numeric(18, 0)))
INSERT [dbo].[HANG] ([MaHang], [TenHang], [Dongia]) VALUES (N'893456321513', N'Phở Đệ Nhất', CAST(5000 AS Numeric(18, 0)))
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [Ngayban], [thoigian], [Quay], [Tongtienthanhtoan]) VALUES (N'11113431', N'KH1234567891', CAST(N'2019-06-10' AS Date), CAST(N'07:10:00' AS Time), CAST(2 AS Numeric(18, 0)), CAST(160000 AS Numeric(18, 0)))
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [Ngayban], [thoigian], [Quay], [Tongtienthanhtoan]) VALUES (N'11113432', N'KH1234567892', CAST(N'2019-08-10' AS Date), CAST(N'20:00:00' AS Time), CAST(1 AS Numeric(18, 0)), CAST(80000 AS Numeric(18, 0)))
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [Ngayban], [thoigian], [Quay], [Tongtienthanhtoan]) VALUES (N'11113433', N'KH1234567893', CAST(N'2019-12-09' AS Date), CAST(N'10:30:00' AS Time), CAST(2 AS Numeric(18, 0)), CAST(20000 AS Numeric(18, 0)))
INSERT [dbo].[KHACHHANG] ([MaKH], [Sokhach]) VALUES (N'KH1234567891', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[KHACHHANG] ([MaKH], [Sokhach]) VALUES (N'KH1234567892', CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[KHACHHANG] ([MaKH], [Sokhach]) VALUES (N'KH1234567893', CAST(1 AS Numeric(18, 0)))
SET ANSI_PADDING ON

GO
/****** Object:  Index [chitietHD]    Script Date: 11/10/2019 7:44:35 PM ******/
CREATE NONCLUSTERED INDEX [chitietHD] ON [dbo].[CHITIETHD]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Hang]    Script Date: 11/10/2019 7:44:35 PM ******/
CREATE NONCLUSTERED INDEX [Hang] ON [dbo].[HANG]
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Hoadon]    Script Date: 11/10/2019 7:44:35 PM ******/
CREATE NONCLUSTERED INDEX [Hoadon] ON [dbo].[HOADON]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [KH]    Script Date: 11/10/2019 7:44:35 PM ******/
CREATE NONCLUSTERED INDEX [KH] ON [dbo].[KHACHHANG]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANG] ([MaHang])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
USE [master]
GO
